*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'poppins', sans-serif;
    padding: 25px;
    background-color: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    right: 60px;
    top: 33px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #54595F;;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

a.active{
    color: #f44336;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #f44336;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
/* a:after{
    content: "";
    position: absolute;
    background-color: #f44336;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -20px;
    transition: 0.3s;
} */
a:hover{
    color: #f44336;
}
a:hover:after{
    width: 100%;
}



@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 760px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px; 
        height: 92vh;
        top: 8vh;
        background: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        width: 50%;
        transform: translateX(100%)
        /* transition: transform 0.5s ease-in; */
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);  
}









@keyframes fade {

    0% {
    
    opacity: 0;
    
    }
    
    100% {
    
    opacity: 1;
    
    }
    
    }
    
    * {
    
    padding: 0;
    
    border: 0;
    
    box-sizing: border-box;
    
    }
    
    body {
    
    height: 100%;
    
    }
    
    body h1 {
    
    text-align: center;
    
    }
    
    .slide-container {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    max-width: 100%;
    
    margin: auto;

    position: relative;
    
    }
    
    .slide-container .slide {
    
    display: none;
    
    width: 100%;

    
    }
    
    .slide-container .slide.fade {
    
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    
        }
    
    .slide-container .slide img {
    
    width: 100%;
    
    height: 20em;
    }


    .slide-container .prev,

.slide-container .next {

cursor: pointer;

position: absolute;

top: 50%;

width: auto;

margin-top: -22px;

padding: 16px;

color: white;

font-weight: bold;

font-size: 20px;

transition: all 0.6s ease;

border-radius: 0 3px 3px 0;

user-select: none;

}

#texting{
    color: red;
}

.slide-container .prev:hover,

.slide-container .next:hover {

background-color: rgba(0, 0, 0, 0.8);

color: white;

}

.slide-container .prev {

left: 2px;

}

.slide-container .next {

right: 2px;

}

.dots-container {

display: flex;

justify-content: center;

align-items: center;


}

#dots-container #dot {

cursor: pointer;

margin: 5px;

width: 20px;

height: 20px;

color: #333;

border-radius: 50%;

background-color: #dfd6ce;

}

#dots-container .dot.active {

border: 2px solid green;

}

